/*Copyright © XFolio Designs*/
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

/*Misc CSS*/
body {
  background-color:#4f4f4f;
  color:white;
  font-family:sans-serif;
}

/*Dividers*/

.wrapper {
  text-align: center;
}
.inner {
  display: inline-block;
}

.slate-head {
  width:auto;
  height:auto;
  background-image:url('../img/xslate.png');
}

.slatehead-inner {
  padding-top:70px;
}

/*Fonts*/

h1 {
  font-family: 'Coda Caption', sans-serif !important;
}
