/*Copyright © XFolio Designs*/
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Monoton');

/*Misc CSS*/
body {
  background-color:#4f4f4f;
  color:white;
  font-family:sans-serif;
}

hr {
  color:#d5db36;
  transform:rotate(-20deg);
  height:3px;
}

/*Dividers*/

.wrapper {
  text-align: center;
}
.inner {
  display: inline-block;
}

/*Fonts*/

.jumbo-title {
  font-size:40px;
  font-family: 'Monoton', cursive !important;
}

.sub-title {
  padding-top:10px;
  padding-left:30px;
  font-size: 30px;
}
