/*Copyright © XFolio Designs*/
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

/*Misc CSS*/
body {
  background-color:#4f4f4f;
  color:white;
  font-family:sans-serif;
}

/*Dividers*/

.wrapper {
  text-align: center;
}
.inner {
  display: inline-block;
}

.jumbo-title {
  font-size:40px;
}

.sub-title {
  padding-top:25px;
  padding-left:30px;
}

/*Fonts*/

h1 {
  font-family: 'Coda Caption', sans-serif !important;
}
